body {
    display: flex;
    flex-direction: column;
    font-family: Times sans-serif;
}

menu {
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
}

#header {
    position: sticky;
    top: 0;
}

#mainContent {
    flex-basis: 90%;
}

#brief {
    background-color: #bcffbc;
    padding-right: 3%;
}

#article {
    flex-basis: 90%;
    background-color: white;
    padding: 15px;
    text-align: justify;
    font-size: 1.3em;
}

.mottoContainer {
    background-color: #94d8ff;
    padding-left: 3%;
    padding-right: 3%;
    overflow-y: clip;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 70px;
}

.sideContainer {
    flex-basis: 10%;
    background-color: #ffd3b7;
}

.leftAlignedContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.rightAlignedContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.flexRowAlignedContent {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.flexColumnAlignedContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.articleContentLayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
    gap: 15px;
}

.articleImage {
    width: 50%;
    height: auto;
}